
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
.vscode/
.idea/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Binaries
*.dll
*.exe
*.pdb
*.nupkg
*.snk
*.pfx
*.key
*.so
*.dylib

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml

*.DotSettings
*.csproj.DotSettings

.roslyn/

packages/
*.nuget.props
*.nuget.targets

*.log
*.DS_Store
Thumbs.db
appsettings.Development.json